<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8" />
    <link href="/style.css" rel="stylesheet" type="text/css">
	<title>Article Results</title>
</head>

<body>
	<h1>Article Results</h1>
    
        <%- resultList %>

        <form action = "/" method = "get">
            <button type="submit">Back</button>
        </form>	
</body>

</html>